

html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



body
{
    background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
    url("../img/mafilm.jpg") fixed;
    background-size: cover;
    background-position: center;
    overflow: visible;
    padding: 0;
}

ul
{
    list-style-type: none;
    padding:0;
    margin:0;
    color: #ffffff;
    font-family:"Adobe Garamond Pro";
    font-size: 2vw;
    text-decoration: none;
}

a:hover, a:active, a:visited
{
    text-decoration: line-through;
    color: #ffffff;
}

.everything
{
    padding: 0;
}
.container-fluid
{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    text-align: center;
}

.homepage
{
    text-align: center;
    margin:0;
    padding:0;
    font-family:"Adobe Garamond Pro Bold";
    line-height: 20vh;
    font-size: 20vh;
    color: white;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.contentPanel
{
    height: 100%;
    margin:0;
    padding:0;

}

.sidebar
{
    height: 100%;
    z-index: 5;
}
.contentPane
{
    height: 100%;
    z-index: 1000;
}

.headerImg
{
    font-family:"Adobe Garamond Pro Bold";
    text-align: center;
    line-height: 5vh;
    font-size: 5vh;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 20px;
}

.imgItem
{
    font-family:"Adobe Garamond Pro Bold";
    text-align: center;
    line-height: 5vh;
    font-size: 5vh;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 20px;
    height:85%;
    width: 85%;
}

.imgItem img
{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.description
{
    font-family:"Adobe Garamond Pro Bold";
    line-height: 5vh;
    font-size: 5vh;
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.caption
{
    font-family:"Adobe Garamond Pro Bold";
    line-height: 3vh;
    font-size: 3vh;
    color: white;
    text-align: center;
    position: relative;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item
{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.navlinks
{
    text-align: left;
}
.arrowHolder
{
    position: absolute;
    top: 80%;
    width: 100%;
}
.arrowDown
{
    text-align: center;
    width: 2vw;
    height: 2vw;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    margin-left: 50%;
    margin-right: 50%;

}

@-moz-keyframes arrow-jump {
    0%   { opacity: 0;  -moz-transform:    rotate(45deg);  }
    100% { opacity: 1;  -moz-transform: translateY(30px) rotate(45deg);  }
}

@-webkit-keyframes arrow-jump {
    0%   { opacity: 0;  -webkit-transform: rotate(45deg);    }
    100% { opacity: 1;  -webkit-transform: translateY(30px) rotate(45deg);    }
}
@keyframes arrow-jump {
    0%   { opacity: 0;  transform: rotate(45deg);    }
    100% { opacity: 1;  transform: translateY(30px) rotate(45deg);}
}

#arrow {
    -webkit-animation: arrow-jump 1.5s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump 1.5s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump 1.5s infinite; /* Opera 12+ */
    animation:         arrow-jump 1.5s infinite; /* IE 10+, Fx 29+ */
}

